<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Búsqueda de tópicos en tweets</title>
    <style>
        #archivo {
            border: 2px solid #73AD21;
            padding: 20px;
            border-radius: 20px;
        }
        .ngramas {
            font-style: bold;
        }
        .twrep {
            font-size: 0.8em;
        }


    </style>
</head>
<body>
    {% load extratags %}
    <div id="archivo">
        <p>Identificar tópicos principales</p>
        <form id="upload_form" accept-charset="utf-8"
              enctype="multipart/form-data" action="/twittertopics/" method="post">
            {% csrf_token %}
            <input type="file" name="archivo_tweets" onchange="this.form.submit()">
            <br />
            {% if topics %}
            <table width="230px">
                <tbody>
                    <tr style="vertical-align: top;">
                        <td colspan="3">
                            <div id="indicador" style="position: relative;float:left;">
                                <p style="color: red;">---------------------------------------------------</p>
                            </div>
                            <div style="float:right;">
                                <img src="data:image/png;base64,{{plot}}" height="230px">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Temas específicos
                        </td>
                        <td>
                            <input id="threshold" type="range" name="threshold" value="0.5"
                                   min="0.1" max="1.0" step="0.01" onchange="cambiarThreshold();"
                                    oninput="outputUpdate(value)">
                            <output for="fader" id="volume">50</output>
                        </td>
                        <td>
                            Temas generales
                        </td>
                    </tr>
                </tbody>
            </table>
            {% endif %}
            <br />
        </form>
        {% if topics %}
        <form id="tweet_form" accept-charset="utf-8"
              enctype="multipart/form-data" action="/twittertopics/tweet" method="post">
            {% csrf_token %}
            <label name="lblTweet">Indentifica a que cluster pertenece un tweet</label>
            <br />
            <input type="text" name="tweet">
            <input type="submit" name="Identificar">
        </form>
        {% endif %}
    </div>
    {% if cluster %}
        <p>Pertenece al tweet <strong>{{cluster}}</strong></p>
    {% endif %}
    {% if topics %}
    <div id="topicos">
        <p>Se encontraron <strong>{{topics|length}}</strong> tópicos: </p>
        <ol type="1">
        {% for c,t,ng in topics %}
            <li>
                <div>
                    <p class="ngramas">
                    {% with val=ng.0.1 s=0 %}
                        {% for ngrama in ng %}
                                {% with s=ngrama.1|div:val %}
                                    <span style="font-size:{{s}}em;" >{{ ngrama.0 }}, </span>
                                {% endwith %}
                        {% endfor %}
                    {% endwith %}
                    </p>
                    <p class="twrep"><strong>Tweet representativo:</strong>{{ t }}</p>
                </div>
            </li>
        {% endfor %}
        </ol>
    </div>
    {% endif %}
    <script>
        // document.querySelector('input[type=range]').addEventListener('input', function() {
        //  this.setAttribute('value', this.value);
        // });

        if(localStorage['threshold'])
        {
            if(document.getElementById("threshold") == null)
            {
                localStorage['threshold'] = "0.5";
            }
            document.getElementById("threshold").value = localStorage['threshold'];
            if(document.getElementById("indicador") != null)
            {
                document.getElementById("indicador").style.top = (250 - localStorage['threshold'] * 200) + "px";
            }
            document.querySelector('#volume').value = localStorage['threshold'];

        }

        var form = document.getElementById("upload_form");
        form.onsubmit = function() {
          alert("The form has been submitted, start progress!");
        }

        function cambiarThreshold() {
            localStorage['threshold'] = document.getElementById("threshold").value;
            var form = document.getElementById("upload_form");
            form.submit();
        }

        function outputUpdate(vol) {
            document.querySelector('#volume').value = vol;
            document.getElementById("indicador").style.top = (250 - vol * 200) + "px";
        }

    </script>
</body>
</html>