<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Búsqueda de tópicos en tweets</title>
    <style>
        #archivo {
            border: 2px solid #73AD21;
            padding: 20px;
            border-radius: 20px;
        }
    </style>
</head>
<body>
    <div id="archivo">
        <p>Identificar tópicos principales</p>
        <form accept-charset="utf-8" enctype="multipart/form-data" action="/twittertopics/" method="post">
            {% csrf_token %}
            <input type="file" name="archivo_tweets">
            <input type="number" name="threshold" value="0.5" step="0.1" min="0.1" max="1.0">
            <input type="submit" value="Submit">
        </form>
    </div>
    {% if topics %}
    <div id="topicos">
        <p>Se encontraron los siguientes tópicos: </p>
        <ul>
        {% for t in topics %}
            <li>

                {{ t }}
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
</body>
</html>


